*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    background: #555;
    color: white;

}

a {
    text-decoration: none;
    color: navy;
}

a:hover,
a:focus{
    text-decoration: underline;
    color: lightblue;
}

.site-wrapper{
    max-width: 800px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    color: #555;
    overflow: hidden;
}

.site-header{
    padding: 10px;
    border-bottom: 1px solid lightblue;
}

.site-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: navy;

}

.main-nav-container{}

.main-nav{}

.main-nav > ul{
display: flex;
justify-content: center;
margin: 0;
padding: 0;
list-style-type: none;
}

.main-nav > ul > li > a{
    /* only for the top level of the nav not the ones further down */
    display: inline-block;
    background-color: navy;
    /* flex-wrap is not ON by default */
    flex-wrap: wrap;
    color: white;
    /* Go for a 1 to 2 (or 3) ratio for asthetic look */
    padding: 0.4em 0.8em; 
    /* Golden ratio is 1.618 */    

}

.main-nav > ul > li > a:is(:hover, :focus){
    background-color: lightblue;
    color: white;
    text-decoration: none;
}

.main-nav > ul > li.active > a{
    border-bottom: 1px solid orange;
    color: white;

}

.main-content{
    padding: 10px;
}

.site-footer{
    padding: 20px;
    background-color: lightblue;
    color: white;

}

.copyright {
    margin: 0;
    font-size: 0.8em;
    font-size: italic;
    text-align: center;
}

/* Services listing */

.service-list{
    display: grid;
    grid-template-columns: 8em 1fr;
    grid-template-rows: auto;
    row-gap: 0.2em;
}

.service-list dt{
    background-color: navy;
    color: white;
}

.service-list > *{ /*everything inside service list*/
    padding: 0.3em 0.6em;
}

.service-list dd{
    margin: 0;
}


/* Simple version
.service-list dt{
    margin:2em 0 0.5em;
    border-bottom: 1px solid lightblue;
    font-weight: bold;
}

.service-list dd {
    margin-left: 1em;
} */

/* Form styling */

form fieldset {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 1em;
}

.form-row {
  margin: 0.5em 0;
}

/* Label at start of row followed by input/select */
.form-row > label:first-child:has(+ input, + select) {
  display: inline-block;
  min-width: 10em;
}

textarea {
  display: block;
  width: 40em;
  min-height: 5.5lh; /* ~5 lines */
  max-width: 100%;
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 5px;
  background-color: #00aced;
  color: white;
}


/* Message styling */

.error-summary {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #8f080874;
  border-radius: 5px;
  color: #8f0808;
  background-color: #8f080827;
  font-style: italic;
}

.error-message {
  color: #8f0808;
  font-style: italic;
}

.success-message {
  color: #088f08;
  font-style: italic;
}
